window#waybar {
  background: transparent;
}

#pulseaudio,
#custom-brightness,
#network,
#keyboard-state,
#battery,
#workspaces,
#cpu,
#disk,
#memory,
#user,
#clock {
  font-family: 'Symbols Nerd Font', 'JetBrains Mono';
  font-weight: 600;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 45px;
  border: 1px solid rgba(0,0,0,0.3);
  margin: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  color: #ECEFF4;
  background: rgba(46, 52, 64, 0.8);
}

#network.disconnected.wifi0,
#network.disconnected.eth0,
#network.disconnected.tun0,
#network.disconnected.virbr0 {
  color: #4C566A;
}

#disk {
}

#clock {
}

#battery.warning {
  background: #D08770;
}

#battery.critical {
  background: #BF616A;
}

#workspaces {
  font-size: 20px;
}

#workspaces button {
  color: #4C566A;
}

#workspaces button:hover {
  background: none;
}

#workspaces button.active {
  color: #ECEFF4;
}
